@page
@model Bazaar_Store.Pages.Carts.CartModel
@{
}

<h2>Welcome in your Cart</h2>

@if (Model.CartProducts != null)
{
    foreach (var product in Model.CartProducts)
    {
      
        <tr>
            <td>
                <a asp-page="/ProductDetails/Details" asp-route-id="@product.Id">
                    @if (product.URL != "")
                    {
                        <img src="@product.URL" width=200 />
                    }

                    @product.Id @product.Name
                </a>
            </td>
        </tr>
    }
}    