@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazaar_Store.Models.ProductCategoryDto

<form  asp-controller="Product"  asp-action="Edit" method="post" enctype="multipart/form-data">
       <input hidden asp-for="@Model.Id"/>
    <partial name="ProductField"></partial>
    <button type="submit">
            Edit Product
    </button>
    <br />
    </form>
    <div asp-validation-summary="All"></div>
   