@using Bazaar_Store.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager


<!DOCTYPE html>
    <html >
    <head>
                <link href ="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
                <link href ="~/css/site.css" rel="stylesheet"/>
                    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

          <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://css.gg/shopping-cart.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>@ViewBag.Title </title>

       
    </head>
    <body >

   
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/98957434/171397452-39eb825b-1063-4f25-b75f-698514099e41.jpg" alt="..." width="100" height="100">
    </a>
            <a asp-area="" asp-page="/index" class="navbar-brand">Bazaar Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="~/index">Home <span class="sr-only">(current)</span></a>
      </li>
     
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="~/Home/Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="~/Products/3">Tablet</a>
          <a class="dropdown-item" href="~/Products/1">Shose</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="~/Products/6">Foundation</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Today's Deals</a>
      </li>
                  
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item" ><a class="nav-link"> @Html.ActionLink($"Welcome {@User.Identity.Name}", "", "")</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Accounts/Logout">Logout</a></li>
                    }else
                    {

                        <li class="nav-link"><a class="nav-link" href="/accounts/signup">Signup</a></li>
                        <li class="nav-link"><a class="nav-link" href="/accounts">Login</a></li>
                    }
                    @await Component.InvokeAsync("CartCount")
                    <li><a id="cart" class="fa fa-shopping-cart" href="/Carts/"></a></li>
              
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>
  </div>
</nav>
    <div class="text-center">
        <h1 class="display-4" style="color:darkgreen" text-l> Bazaar Store</h1>
    </div>
     <div >
    @RenderBody()
    </div >
             
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    </body >

    </html >
