@page
@model Bazaar_Store.Pages.IndexModel
@{
}
<p class="text-center"> is a marketplace consisting of multiple small stalls or shops,especially in the Middle East and India.Bazaars in the Middle East were traditionally located in vaulted or covered streets that had doors on each end and served as a city's central marketplace.Street markets are the European and North American equivalents. and now we will make it easy for you to access from all over the word</p>

@foreach (var item in @Model.category)
{


    <div class="card-group" style="width: 18rem;">
  <img class="card-img-top" src="https://resources.workable.com/wp-content/uploads/2016/01/category-manager-640x230.jpg" alt="Card image cap">
  <div class="card-body">
    <h5>@item.Name</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     <form method="post">
             <input type="hidden" name="id" value="@item.Id" />
    <button href="#" class="btn btn-primary">Shop Now</button>
            </form>

  </div>
</div>
   <br />
}

        
