@page
@model Bazaar_Store.Pages.Accounts.LoginModel
@{
}
<form method="post">
    <label>Email:</label>
    <input asp-for="Input.Email" />

    <label>Password:</label>
    <input asp-for="Input.Password" />
    <button type="submit"> Login </button>
</form>