@page
@model Bazaar_Store.Pages.Accounts.LoginModel
@{
}
<form method="post">
    <input asp-for="Input.Email"/>
    <input asp-for="Input.Password"/>
    <button type ="submit">Sign In</button>
</form>