@page
@model Bazaar_Store.Pages.Accounts.RegisterModel
@{
}
<form method="post">
    <label>Email:</label>
    <input asp-for="Input.Email" />

    <label>Name:</label>
    <input asp-for="Input.Name" />

    <label>Password:</label>
    <input asp-for="Input.Password" />

    <label>Age:</label>
    <input asp-for="Input.Age" />
    <button type="submit">Sign Up</button>
</form>