@page
@model Bazaar_Store.Pages.Accounts.RegisterModel
@{
}
<form method="post">
    <input asp-for="Input.Email"/>
    <input asp-for="Input.Name"/>
    <input asp-for="Input.Password"/>
    <input asp-for="Input.Age"/>
    <button type ="submit">Sign Up</button>
</form>