@model Bazaar_Store.Models.Company

@{
    ViewData["Title"] = "Index";
}




<img src="https://user-images.githubusercontent.com/98957434/171397452-39eb825b-1063-4f25-b75f-698514099e41.jpg" alt="Logo" width="150" height="150">

<div class="text-center">

    <h1 class="display-4" style="color:darkgreen">Bazaar Store</h1>

</div>


<input type="button" value="Home" class="btn btn-primary" />
<input type="button" value="support" class="btn btn-primary" />

