<!DOCTYPE html>
<html>
<head>
    <title> </title>


    <link href="C:\Users\HP\Desktop\Bazaar_Store\Bazaar_Store\StyleLogin.css" rel="stylesheet" />


</head>
<body>
    
    <div class="Loginbox">
        <img src="https://tse4.mm.bing.net/th?id=OIP.euqcyHvusXHENYgYwF-C5wHaFh&pid=Api&P=0&w=224&h=167" alt="Logintext" />
        <form action="Auth/Login">
            <button type="submit"> Login Admin</button>
            <button type="submit"> Login User</button>
        </form>
        
    </div>
    
    
    </body>
   </html>





