@model Bazaar_Store.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}



<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text"></div>
    <label asp-for="Name" class="label-Name"></label>
    <input asp-for="Name" class="form-control" />

    <div asp-validation-summary="ModelOnly" class="text"></div>
    <label asp-for="Details" class="label-Details"></label>
    <input asp-for="Details" class="form-control" />

    <input type="submit" value="Create" class="btnsubmit " />
</form>




