<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <div class="text-center">

    <h1 class="display-4" style="color:darkgreen">Bazaar Store</h1>

</div>


    <div class="navbar">
        <a href="Home" class="active">Home</a>
        <a href="Company">Company</a>
        <a href="Category">Category</a>
        <a href="Auth">Join Us</a>
    </div>
    <div class="Logo">
    <img src="https://user-images.githubusercontent.com/98957434/171397452-39eb825b-1063-4f25-b75f-698514099e41.jpg" alt="Logo" width="150" height="150">
</div>

</head>
<body>

    <h1>Welcome To Bazaar Store</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
