<h2>SignUp</h2>

<form action="Auth/SignIn">
   
    <button type="submit">SignIn</button>
</form>
<h2>New on Bazaar Store? SignUp </h2>
<form action="Auth/SignUp">
   
    <button type="submit">SignUp</button>
</form>