<form method="post" action="Category">
    <label>UserName:</label>
    <input name="UserName" />
   

    <label>Password:</label>
    <input name="Password" />
   

    <button type="submit">Login</button>
</form>